<configuration>
    <!-- Create a file appender for a log in the application's data directory -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${EXT_DIR}/foo.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%class{0}] %-5level %M: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%M: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Write TRACE (and higher-level) messages to the log file -->
    <root level="TRACE">
        <appender-ref ref="file" />
        <appender-ref ref="logcat" />
    </root>
</configuration>